/* CSS global */

:root {
    --main-color: #0065FC; /* var(--main-color) */
    --second-color: #DEEBFF; /* var(--second-color) */
    --light-grey-color: #F2F2F2; /* var(--light-grey-color) */
}

body{
    font-family: 'Raleway', sans-serif;
	max-width: 1400px;
    margin: 0;
}

a{
    text-decoration: none;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
}

/* CSS header */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    margin-right: 26px;
}

.push-to-right{
    margin-right: auto;
}

.accommodation-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a img{
   height: 19px;
  }

.blue-link{
    color: black;
    padding: 46px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

.blue-link:hover{
    color: var(--main-color);
    padding: 46px;
    border-top: solid 2px var(--main-color);
}

/* CSS Research*/
.research_section{
    margin-left: 55px;
    margin-top: 12px;
}

.research_bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.icone_loc, .city_search, .button_research{
    font-size: 18px;  
    font-weight: 700;
}

.icone_loc{
    padding: 16px 18px 15px 18px;
    background-color: var(--light-grey-color);
    border-radius: 15px 0 0 15px;
}
.city_search{   
    padding: 13px 17px 13px 17px;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-right: transparent;
    border-left: transparent;
}

.button_research{
    padding: 13px 16px 13px 16px;
    color: white;
    background-color: var(--main-color);
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    border-right: transparent;
    border-left: transparent;
    border-radius: 0 15px 15px 0;
} 

/* CSS filtres */
 
.filter_bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 62px;
}

.filter_bar p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.filter_bar li  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    padding: 13px;
    background-color: white;
    border: solid 2px var(--light-grey-color);
    gap: 10px;
    border-radius: 25px;
}

.filter_bar i{
    color: var(--main-color);
}

.filter_bar li:active{
    background-color: var(--second-color);
}
