/* RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS global */

:root {
    --main-color: #0065FC; /* var(--main-color) */
    --second-color: #DEEBFF; /* var(--second-color) */
    --light-grey-color: #F2F2F2; /* var(--light-grey-color) */
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.page{
	max-width: 1400px; 
    padding: 0 5%;
}

a{
    text-decoration: none;
    color: black;
}

.push-to-right{
    margin-right: auto;
}

h1, h2{
    font-size: 22px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

i{
    color: var(--main-color);
}

ul{
    list-style-type: none;
}

.research-section p, .filter-section p{
    font-size: 16px;
}

.research-bar-icone-loc, .research-bar-city-search, 
.research-bar-button-research, .filter-bar-title, 
.accomodation-p, .popular-icone, .footer-section h3{
    font-size: 18px;
    font-weight: 700;
}

/* CSS header*/

.nav-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-logo{
   height: 19px;
   width: 61px;
  }
  
.nav-blue-link {
    padding: 46px 3.5%;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

.nav-blue-link:hover{
    color: var(--main-color);
    padding: 46px 3.5%;
    border-top: solid 2px var(--main-color);
}

/* CSS Research*/

.research-section h1, .research-section p{
    margin: 8px 0;
}

.research-bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 16px 0;
}

.research-bar-icone-loc{
    padding: 17.5px;
    background-color: var(--light-grey-color);
    border-radius: 15px 0 0 15px;
    font-weight: 700;
}

.research-bar-city-search{   
    padding: 15px 16px;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-right: transparent;
    border-left: transparent;
}

.research-bar-button-research{
    padding: 15px 16px;
    color: white;
    background-color: var(--main-color);
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    border-right: transparent;
    border-left: transparent;
    border-radius: 0 15px 15px 0;
}

.research-bar-mobile{
    display: none;
}

.research-bar i{
    color: black;
}

/* CSS filtres*/
 
.filter-bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 24px 0 32px 0;
}

.filter-bar-filters{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    column-gap: 3%;
    padding-left: 3%;
}

.filter-bar-unit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:18px;
    font-weight: 700;
    column-gap: 8px;
    padding: 16px 1%;
    background-color: white;
    border: solid 2px var(--light-grey-color);
    border-radius: 25px;
}

.filter-bar-unit:hover{
    background-color: var(--second-color);
}

.filter-bar-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1%;
}

.filter-bar-info-logo{
    border: 2px solid var(--second-color);
    font-size: 10px;
    padding: 6px 9px;
    border-radius: 50%;
}

/* CSS card*/

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;
    padding: 5px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 4px;
    margin-left: 3%;
}

.card-title, .card-subtitle{
    margin: 4px 0;
}

.card-subtitle{
    font-size: 14px;
}

.card span{
    font-weight: bold;
}

.card-notation{
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 5%;
    margin: 4px 0;
}

.card-notation i{
    font-size: 12px;
}

.star-5{
    color: var(--light-grey-color)
}

/* CSS accomodation and popular*/

.accomodation-and-popular-section{
    margin: 40px 0 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation-section{
    width: 64%;
}

.popular-section{
    width: 32%; 
}

.accomodation-section, .popular-section{
    background-color: var(--light-grey-color);
    border-radius: 20px;
    padding: 40px;
}

/* CSS accomodation*/

.accomodation-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8fr 0.5fr;
}

.accomodation-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 4%;
    row-gap: 32px;
    padding: 24px 0 60px 0;
}

.accomodation-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.accomodation-card img{
    height: 92px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* CSS popular*/

.popular-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8.5fr;
}

.popular-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popular-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 24px;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
}

.popular-card{
    display: flex;
    flex-direction: row;
}

.popular-card img{
    height: 124px;
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

/* CSS activities*/


.activities-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 56px 0;
}

.activities-cards .card{
    padding: 0;
}

.activities-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3%;
    width: 100%;
}

.activities-cards img{
    height: 352px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-cards figcaption{
    font-size: 16px;
    font-weight: 700;
    padding: 16px 24px 16px 24px;
}

.activities-section-title{
    padding-bottom: 24px;
}

/* CSS footer*/

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 18%;
    padding: 48px 64px;
    background-color: var(--light-grey-color);
}

.footer-section li{
    font-size: 16px;
    margin-top: 16px;;
}

/* Media queries */

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {

    .accomodation-and-popular-section{
        flex-direction: column;
    }
    .accomodation-section, .popular-section{
        width: 100%; 
    }
    .accomodation-section{
        margin-bottom: 48px;
    }

    .accomodation-cards{
        padding: 16px 0 40px 0;
    }

    .popular-section{
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 6fr;
    }

    .popular-cards{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3,1fr);
        column-gap: 4%;
    }

    .activities-cards img{
        height: 184px;
    }

    .activities-cards{
        gap: 5%;
    }

    .footer-section{
        gap: 12%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .page{
        padding: 0;
        width: 100%;
    }
    
    .push-to-right{
        margin: 0;
    }

    .nav-section{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0.5fr 0.5fr;
        }

    .logo-block{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    .accommodation_block{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .activities_block{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .logo-block, .accommodation_block, .activities_block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-blue-link, .nav-blue-link:hover{
        padding: 22px 0;
    }
    .nav-blue-link:hover{
        border-top: solid 2px transparent;
        border-bottom: solid 2px var(--main-color);
    }
    
    .research-section, .filter-section{
        padding: 0 5%;
    }

    .research-bar-city-search{
        max-width: 240px;
        width: 80%;
    }

    .research-bar-mobile{
        display: block;
    }

    .research-bar-desktop-tablette{
        display: none;
    }
    
    .research-bar-mobile i{
        color:white;
    }

    .filter-bar{
        flex-direction: column;
        align-items: start;
    }

    .filter-bar-title{
        margin-bottom: 16px;
    }

    .filter-bar-filters{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 16px;
    }

    .filter-bar-filters p{
        font-size: 11px;
    }

    .filter-bar-info{
        column-gap: 3%;
    }

    .filter-bar-unit{
        justify-content: start;
        gap: 8%;
    }

    .filter-bar-unit i{
        margin-left: 8%;
        font-size: 18px;
    }

    .filter-bar-info-logo{
        align-self: first baseline;
    }

    .accomodation-and-popular-section{
        flex-direction: column-reverse;
        margin: 24px 0 0 0;
    }

    .popular-section, .accomodation-section{
        padding: 24px;
        border-radius: 0;
    }

    .accomodation-section{
        margin-bottom: 0;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 6fr;
    }

    .popular-cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 16px;
    }

    .accomodation-cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 16px;
        padding: 0;
    }

    .accomodation-and-popular-text{
        display: none;
    } 

    .activities-section{
        margin: 0 0 24px 0;
        padding: 24px;
    }

    .activities-cards{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .activities-card{
        width: 100%;
    }

    .activities-section-title {
        margin-bottom: 0;
    }

    .activities-cards img{
        height: 128px;
    }

    .footer-section{
        flex-direction: column;
        row-gap: 32px;
    }

}