/* CSS global */

:root {
    --main-color: #0065FC; /* var(--main-color) */
    --second-color: #DEEBFF; /* var(--second-color) */
    --light-grey-color: #F2F2F2; /* var(--light-grey-color) */
}

body{
    font-family: 'Raleway', sans-serif;
	max-width: 1400px;
    margin: 0;
}

a{
    text-decoration: none;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    line-height: 19px;
    margin-bottom: 0;
}

input, label {
    font-style: normal;
    font-weight: 400;
}

/* CSS header */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    margin-right: 26px;
}

.push-to-right{
    margin-right: auto;
}

.accommodation-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a img{
   height: 19px; 
   padding-top: 42px;
   padding-bottom: 42px;
  }

.blue-link{
    color: black;
    padding: 46px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

.blue-link:hover{
    color: var(--main-color);
    padding: 46px;
    border-top: solid 2px var(--main-color);
}

/* CSS Research and filtre */

.research_section{
    margin-left: 55px;
    margin-top: 12px;
}

.research_bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.icone_loc, .city_search, .button_research{
    padding: 1rem;
}

.icone_loc{
    font-size: 18px;
    font-weight: bold;
    background-color: var(--light-grey-color);
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-radius: 15px 0 0 15px;
}
.city_search{
    font-weight: bold;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-right: transparent;
    border-left: transparent;
}

.button_research{
    color: white;
    background-color: var(--main-color);
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    border-right: transparent;
    border-left: transparent;
    border-radius: 0 15px 15px 0;
} 

/* 
.filter_bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
} 

.filter{
    list-style-type: none;
}
.filter_bar li{
    padding-left: 1rem;
}   

.filter_bar  {
    font-weight: bold;
    background-color: white;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-left: transparent;
    border-right: transparent;
    p
}

.filter_bar i{
    border-radius: 50%;
    background-color: #DEEBFF;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-left: transparent;
    font-weight: bold;
} 
*/